extends ../node_modules/jade-bootstrap/_bootstrap.jade
append body
	.container
	img(src= "https://i.imgur.com/7P7l7Vw.png")
		title= title
		h1 New Account Registration
		form(name="input", action="/validateCommunity", method="post")
			p Name:
			input(type="text", name="communityName")
			p Category:
			input(type="text", name="category")
			p Sub-category:
			input(type="text", name="subcategory")
			p Description:
			input(type="text", name="description")
			p Private:
			input(type="text", name="private")
			p
			a.btn.btn-default(type="submit", value="Create New Community") Create New Community
			p
		a.btn.btn-info(onclick="move()") Back
	script.
		function move() {
			window.location.href = '/listCommunities'
		}
