extends ../node_modules/jade-bootstrap/_bootstrap.jade
append body
	.container
		title= title
		h1 New Account Registration
		form(name="input", action="/validateCommunity", method="post")
			p Name:
			input(type="text", name="communityName")
			p Category:
			input(type="text", name="category")
			p Sub-category:
			input(type="text", name="subcategory")
			p Description:
			input(type="text", name="description")
			p Private:
			input(type="text", name="private")
			p
			input(type="submit", value="Create New Community")
			p
		button(onclick="move()") Back
	script.
		function move() {
			window.location.href = '/listCommunities'
		}
