doctype html
html
	head
		title= title
	body
		h1 Login
		form(name="input", action="/validateLogin", method="post")
			| Username:
			input(type="text", name="username")
			br
			| Password:
			input(type="password", name="password")
			br
			input(type="submit", value="Login")
		button(onclick="move()") Register
script.
	function move() {
		window.location.href = '/register'
	}
