extends ../node_modules/jade-bootstrap/_bootstrap.jade
append body
	.container
		img(src= "https://i.imgur.com/7P7l7Vw.png")
		h1= title
		p Welcome to Butterfly
		form(method="POST", action="/validateLogin")
			p Email:
			input(type="email", name="googleID")
			p
			p Password:
			p
			input(type="password", name="userPassword")
			p
			a.btn.btn-primary(type="submit", value="Login") Login
			p
		a.btn.btn-success(href= '/register') Register
		script.
			function move() {
				window.location.
			}
