extends ../node_modules/jade-bootstrap/_bootstrap.jade
append body
	.container
		title= title
		h1 New Account Registration
		form(name="input", action="/registerUser", method="post")
			p First Name:
			input(type="text", name="firstName")
			p Last Name:
			input(type="text", name="lastName")
			p Username:
			input(type="text", name="userName")
			p Password:
			input(type="password", name="userPassword")
			p
			input(type="submit", value="Register New Account")
			p
		button(onclick="move()") Login
	script.
		function move() {
			window.location.href = '/'
		}
